div, div > img {
	width: 75vmin;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	user-select: none;
	pointer-events: none;
}

.logo {
	opacity: 50%;
}

.hour-hand, .minute-hand, .second-hand {
	width: 2.75%;
	transform-origin: bottom center;
}

.pivot {
	width: 5%;
}

.digital-clock {
	position: absolute;
	bottom: 4%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-size: 5vmin;
	font-family: 'Orbitron Mono', monospace;
	margin: 0;
	user-select: none;
	pointer-events: none;
}